<p>Hello {{ firstname }},</p>

<p>Welcome to ISP Portal.</p>

<p>Below are the details you will use to login to your ISP Portal dashboard</p>

<p>Link: {{login_url}}<br>
Username: {{ username }}<br>
Password: ****** (type the password you selected)<br></p>

<p>We hope you enjoy the experience with the us.</p>

<p>If you need support, below are our contact details:</p>
<p>Email: support@ispportal.tld<br>
Phone/WhatsApp: 0710 257 218<br>
Working hours:<br>
Monday - Friday: 6am to 8pm<br>
Saturday, Sunday and Public Holidays: Closed<br></p>

<p>Thank you for signing up with the best internet service provider in Kenya.</p>

<p>Regards,<br>
ISP Portal Support</p>