{% extends 'dashboard/layout.html' %}

{% block content %}

            <!-- Main Content -->
            <div id="content">


                <!-- Begin Page Content -->
                <div class="container-fluid">

                    <!-- Page Heading -->
                    <div class="d-sm-flex align-items-center justify-content-between mb-4">
                        <h1 class="h3 mb-0 text-gray-800">Dashboard</h1>
                        <a href="#" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i
                                class="fas fa-download fa-sm text-white-50"></i> Generate Report</a>
                    </div>

                    <!-- Content Row -->
                    <div class="row">

                        <!-- Earnings (Monthly) Card Example -->
                        <div class="col-xl-3 col-md-6 mb-4">
                            <div class="card border-left-primary shadow h-100 py-2">
                                <div class="card-body">
                                    <div class="row no-gutters align-items-center">
                                        <div class="col mr-2">
                                            <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                                                Earnings (Monthly)</div>
                                            <div class="h5 mb-0 font-weight-bold text-gray-800">$40,000</div>
                                        </div>
                                        <div class="col-auto">
                                            <i class="fas fa-calendar fa-2x text-gray-300"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- Earnings (Monthly) Card Example -->
                        <div class="col-xl-3 col-md-6 mb-4">
                            <div class="card border-left-success shadow h-100 py-2">
                                <div class="card-body">
                                    <div class="row no-gutters align-items-center">
                                        <div class="col mr-2">
                                            <div class="text-xs font-weight-bold text-success text-uppercase mb-1">
                                                Earnings (Annual)</div>
                                            <div class="h5 mb-0 font-weight-bold text-gray-800">$215,000</div>
                                        </div>
                                        <div class="col-auto">
                                            <i class="fas fa-dollar-sign fa-2x text-gray-300"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- Earnings (Monthly) Card Example -->
                        <div class="col-xl-3 col-md-6 mb-4">
                            <div class="card border-left-info shadow h-100 py-2">
                                <div class="card-body">
                                    <div class="row no-gutters align-items-center">
                                        <div class="col mr-2">
                                            <div class="text-xs font-weight-bold text-info text-uppercase mb-1">Tasks
                                            </div>
                                            <div class="row no-gutters align-items-center">
                                                <div class="col-auto">
                                                    <div class="h5 mb-0 mr-3 font-weight-bold text-gray-800">50%</div>
                                                </div>
                                                <div class="col">
                                                    <div class="progress progress-sm mr-2">
                                                        <div class="progress-bar bg-info" role="progressbar"
                                                            style="width: 50%" aria-valuenow="50" aria-valuemin="0"
                                                            aria-valuemax="100"></div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-auto">
                                            <i class="fas fa-clipboard-list fa-2x text-gray-300"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- Pending Requests Card Example -->
                        <div class="col-xl-3 col-md-6 mb-4">
                            <div class="card border-left-warning shadow h-100 py-2">
                                <div class="card-body">
                                    <div class="row no-gutters align-items-center">
                                        <div class="col mr-2">
                                            <div class="text-xs font-weight-bold text-warning text-uppercase mb-1">
                                                Pending Requests</div>
                                            <div class="h5 mb-0 font-weight-bold text-gray-800">18</div>
                                        </div>
                                        <div class="col-auto">
                                            <i class="fas fa-comments fa-2x text-gray-300"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Content Row -->

                    <div class="row">


                    <!-- Content Row -->
                    <div class="row">

                        <!-- Content Column -->
                        <div class="col-lg-6 mb-4">

                            <!-- Project Card Example -->
                            <div class="card shadow mb-4">
                                <div class="card-header py-3">
                                    <h6 class="m-0 font-weight-bold text-primary">Quick Glance</h6>
                                </div>
                                <div class="card-body">
                                    {% if subscription.status == 'running' %}
                                          
                                        <h4 class="small font-weight-bold">
                                            Subscription Status <span class="float-right">Signal Strength: 100%</span>
                                        </h4>
                                        <div class="d-flex align-items-center">
                                            
                                            <div class="spinner-grow ms-auto text-success" style="width: 1.5rem; height: 1.5rem;" role="status" aria-hidden="true"></div>
                                            <strong class="ml-5 text-capitalize">{{subscription.status}}</strong>
                                        </div>
                                    {% elif subscription.status == 'pending' or subscription.status == "suspended" %}
                                        <h4 class="small font-weight-bold">
                                            Subscription Status <span class="float-right">Signal Strength: ---</span>
                                        </h4>
                                        <div class="d-flex align-items-center">
                                            
                                            <div class="spinner-grow ms-auto text-warning" style="width: 1.5rem; height: 1.5rem;" role="status" aria-hidden="true"></div>
                                            <strong class="ml-5 text-capitalize">{{subscription.status}}</strong>
                                        </div>
                                    {% elif subscription.status == 'stopped' or subscription.status == "deleted" %}
                                        <h4 class="small font-weight-bold">
                                            Subscription Status <span class="float-right">Signal Strength: ---</span>
                                        </h4>
                                        <div class="d-flex align-items-center">
                                            
                                            <div class="spinner-grow ms-auto text-danger" style="width: 1.5rem; height: 1.5rem;" role="status" aria-hidden="true"></div>
                                            <strong class="ml-5 text-capitalize">{{subscription.status}}</strong>
                                        </div>
                                    {% else %}
                                        <h4 class="small font-weight-bold">
                                            Subscription Status <span class="float-right">Signal Strength: 0%</span>
                                        </h4>
                                        <div class="d-flex align-items-center">
                                            
                                            <div class="spinner-grow ms-auto text-gray-800" style="width: 3rem; height: 3rem;" role="status" aria-hidden="true"></div>
                                            <strong class="ml-5 text-capitalize">{{subscription.status}}</strong>
                                        </div>
                                    {% endif %}

                                    <hr>

                                      
                                    <h4 class="small font-weight-bold">Current Plan:<span
                                            class="float-right text-capitalize">{{subscription.plan.name}} - renews at ksh.{{subscription.plan.price}}pm</span></h4>
                                    {% if subscription.plan.name == 'bronze' %}
                                    <div class="progress mb-4">
                                        <div class="progress-bar" role="progressbar" style="width: 100%; background-color: #CD7F32;"
                                            aria-valuenow="40" aria-valuemin="0" aria-valuemax="100"></div>
                                    </div>
                                    {% elif subscription.plan.name == 'silver' %}
                                    <div class="progress mb-4">
                                        <div class="progress-bar " role="progressbar" style="width: 100%; background-color: #C0C0C0;"
                                            aria-valuenow="40" aria-valuemin="0" aria-valuemax="100"></div>
                                    </div>
                                    {% else %}
                                    <div class="progress mb-4">
                                        <div class="progress-bar" role="progressbar" style="width: 100%; background-color: #FFD700;"
                                            aria-valuenow="40" aria-valuemin="0" aria-valuemax="100"></div>
                                    </div>
                                    {% endif %}

                                    <hr>


                                    <h4 class="small font-weight-bold">Download/Upload Rate</h4>
                                    <div class="progress mb-4">
                                        <div class="progress-bar bg-info" role="progressbar" style="width: 53%"
                                            aria-valuenow="60" aria-valuemin="0" aria-valuemax="100">Download (max: 10mbps)</div>
                                    </div>
                                    <div class="progress mb-4">
                                        <div class="progress-bar bg-warning" role="progressbar" style="width: 96%"
                                            aria-valuenow="60" aria-valuemin="0" aria-valuemax="100">Upload (max: 100mbps)</div>
                                    </div>

                                    <hr>


                                    <h4 class="small font-weight-bold">Next Due Date <span
                                            class="float-right">{{subscription.expirydate.strftime('%d/%m/%Y at %H:%M h') }}</span></h4>

                                    <hr>
                                    
                                    <h4 class="small font-weight-bold">
                                        Service Hostname 
                                        <span class="float-right">{{subscription.hostname}}</span>
                                    </h4>
                                    <h4 class="small font-weight-bold">
                                        Service ID 
                                        <span class="float-right">{{subscription.vmid}}</span>
                                    </h4>
                                    <h4 class="small font-weight-bold">
                                        Service Status 
                                        {% if servicestatus == 'running' %}
                                        <div class="spinner-grow float-right text-success" style="width: 1rem; height: 1rem;" role="status" aria-hidden="true"></div>
                                        {% elif servicestatus == 'stopped' %}
                                        <div class="spinner-grow float-right text-danger" style="width: 1rem; height: 1rem;" role="status" aria-hidden="true"></div>
                                        {% else %}
                                        <div class="spinner-grow float-right text-gray-800" style="width: 1rem; height: 1rem;" role="status" aria-hidden="true"></div>
                                        {% endif %}
                                    </h4>

                                    <hr>
                                    
                                </div>
                            </div>

                        </div>

                        <div class="col-lg-6 mb-4">

                            <!-- Network Details -->
                            <div class="card shadow mb-4">
                                <div class="card-header py-3">
                                    <h6 class="m-0 font-weight-bold text-primary">Network Details</h6>
                                </div>
                                <div class="card-body">
                                    <div class="text-center">
                                        <i class="bi bi-globe"></i> 
                                    </div>
                                    
                                    <h4 class="small font-weight-bold">
                                        Current Node 
                                        <span class="float-right">{{subscription.node}}</span>
                                    </h4>
                                    <h4 class="small font-weight-bold">
                                        Node Status
                                        {% if nodestatus == 'online' %}
                                        <div class="spinner-grow float-right text-success" style="width: 1rem; height: 1rem;" role="status" aria-hidden="true"></div>
                                        {% elif nodestatus == 'stopped' %}
                                        <div class="spinner-grow float-right text-danger" style="width: 1rem; height: 1rem;" role="status" aria-hidden="true"></div>
                                        {% else %}
                                        <div class="spinner-grow float-right text-gray-800" style="width: 1rem; height: 1rem;" role="status" aria-hidden="true"></div>
                                        {% endif %}
                                    </h4>
                                    <hr>

                                    <h4 class="small font-weight-bold">
                                        NAS 
                                        <span class="float-right">{{subscription.plan.storage}}</span>
                                    </h4>
                                    <hr>

                                    <h4 class="small font-weight-bold">
                                        Region
                                        <span class="float-right">{{subscription.client.region}}</span>
                                    </h4>
                                    <hr>
                                </div>
                            </div>

                            <!-- News and Announcements -->
                            <div class="card shadow mb-4">
                                <div class="card-header py-3">
                                    <h6 class="m-0 font-weight-bold text-primary">News and Announcements</h6>
                                </div>
                                <div class="card-body">
                                    {% if not news %}
                                        <span class="text-lower btn btn-sm btn-success mb-1">Nothing</span>

                                        <h4>No News or Announcements</h4>
                                        <p>
                                            There are no news or announcements at the moment...
                                        </p>

                                        <hr>
                                    {% else %}
                                        {% for n in news %}
                                            {% if n.category == 'Alert' %}
                                                <span class="text-lower btn btn-sm btn-danger mb-1">{{n.category}}</span>
                                            {% elif n.category == 'Update' %}
                                                <span class="text-lower btn btn-sm btn-warning mb-1">{{n.category}}</span>
                                            {% elif n.category == 'News' %}
                                                <span class="text-lower btn btn-sm btn-info mb-1">{{n.category}}</span>
                                            {% elif n.category == 'Announcement' %}
                                                <span class="text-lower btn btn-sm btn-success mb-1">{{n.category}}</span>
                                            {% else %}
                                                <span class="text-lower btn btn-sm btn-secondary mb-1">{{n.category}}</span>
                                            {% endif %}

                                            <h4>{{n.title}}</h4>
                                            <p>
                                                {{n.content | truncate(160)}} <a href="#" class="text-uppercase">read more</a>
                                            </p>
                                            <span>By <strong>{{n.author}}</strong> on <strong>{{n.last_update.strftime('%d/%m/%Y at %H:%M h')}}</strong></span>

                                            <hr>
                                        {% endfor %}
                                    {% endif %}

                                </div>
                            </div>

                        </div>
                    </div>

                </div>
                <!-- /.container-fluid -->

            </div>
            <!-- End of Main Content -->
{% endblock content %}