{% extends 'dashboard/layout.html' %}
{% block content %}

<div class="container">
	<table class="table">
	  <thead>
	    <tr>
	      <th scope="col">#</th>
	      <th scope="col">Transaction ID</th>
	      <th scope="col">Payment Method</th>
	      <th scope="col">Currency</th>
	      <th scope="col">Amount</th>
	      <th scope="col">Transaction Date</th>
	    </tr>
	  </thead>
	  <tbody>
	  	{% for t in trans %}
	  	{% set counter = loop.index %}
	    <tr>
	      <th scope="row">{{ counter }}</th>
	      <td>{{ t.transaction_id}}</td>
	      <td>{{ t.provider }}</td>
	      <td>{{ t.currency }}</td>
	      <td>{{ t.net_amount }}</td>
	      <td>{{ t.updated_at.strftime('%d/%m/%Y at %H:%M h') }}</td>
	    </tr>
	    {% endfor %}
	  </tbody>
	</table>
</div>
{% endblock content%}